/* ! modal search start */
.modal-search {
    position: fixed;
    inset: 0;        
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 999;
    opacity: 0;
    transition: 0.3s ease all;
}

.modal-search::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 0.5;
}


.modal-wrapper {
    max-width: 800px;
    width: calc(100% - 30px);
    background-color: #fff;
    z-index: 10;
    position: relative;
    padding: 30px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 6px;
}



.modal-search .modal-title {
    font-size: 30px;
    font-weight: 600;
}

.modal-search .modal-text {
    font-size: 14px;
    color: #7a7a7a;
    padding-bottom: 15px;
    border-bottom: 1px solid #dee0ea;
}

.modal-wrapper .search {
    display: flex;
}


.modal-wrapper .search input {
    width: 90%;
}

.modal-wrapper .search button {
    width: 10%;

}

.modal-search .search-form {
    margin-top: 15px;
    display: flex;
    position: relative;
}

.modal-search .search-form::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dee0ea;
    position: absolute;
    bottom: -15px;
}

.modal-search .search-form input {
    width: 100%;
    max-height: 42px;
    border-color: #dee0ea !important;
}

.modal-search .search-form button {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dee0ea;
    background-color: #fff;
}

.modal-search .search-form button i {
    font-size: 18px;
    color: #7a7a7a;
}

.modal-search .search-result {
    margin-top: 30px;
}

.modal-search .search-heading {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #dee0ea;
}

.modal-search .search-heading h3 {
    font-size: 16px;
    font-weight: 600;

}

.modal-search .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 1px solid #dee0ea;
}

.modal-search .result-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-right: 1px solid #dee0ea;
    border-bottom: 1px solid #dee0ea;
    column-gap: 15px;
}

.modal-search .result-item:hover {
    background-color: #f9f9f9;
    transition: backgrund-color .2s ease;
}


.modal-search .search-thumb {
    max-width: 65px;
    width: 100%;
}

.modal-search .search-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.modal-search .search-sku {
    color: #7a7a7a;
    margin: 2px 0;
}

.modal-search .search-price {
    font-weight: 600;
    color: #dc3545;
}

.modal-search .bi-x-circle {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
    z-index: 20;
}
@media (max-width: 576px) {
    .modal-wrapper {
        padding: 20px;
        max-height: 85vh;
    }
}




/* ! modal search end */